
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center; /* height: calc(50vh); */
    background-color: #f2ebe6;
  }
  
  .contact a {
    color: #cf9535;
    font-size: clamp(1.6rem, 2.6vw, 1.9rem);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-weight: 500;
  }
  .contact a:link {
    text-decoration: none; 
  }
  .contact svg { 
    width: clamp(1.6rem, 2.6vw, 1.9rem);
    height: clamp(1.6rem, 2.6vw, 1.9rem); /* border: 1px solid black; */
  }

.contact p {
    text-align: center;
    margin: 40px 0px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 10px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: clamp(1.6rem, 2.6vw, 1.9rem);
    line-height: 1.5;
    color: #363945;
  }
  
  .contact form{
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  
  
  .contact input {
    color: #363945;
    background: none;
    height: 40px;
    border-radius: 10px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 10px;
    border: 2px solid #a95144;
  }
  
  .contact label {
    color: #363945;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: clamp(1.6rem, 2.6vw, 1.9rem);
    font-family: "Manrope", sans-serif;
    font-weight: 600;
  }
  
  .contact textarea {
    color: #363945;
    height: 300px;
    background: none;
    border-radius: 10px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
    border: 2px solid #a95144;
  }
  #submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
    border-radius: 10px;
    border: 2px solid #a95144;
    height: 40px;
    font-weight: 500;
    color: #363945;
    font-size: clamp(1.4rem, 2.4vw, 1.8rem);
    font-family: "Manrope", sans-serif;
    text-align: center;
    transition-duration: 0.4s;
  }
  #submit-button:hover {
    transform: scale(1.02);
    background-color: #a95144;
    color: #f2ebe6;
  }
  
  .contact h6 {
    text-align: center;
    color: #363945;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-weight: 500;
  }
  .contact h6 > a {
    color: #cf9535;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-weight: 500;
  }
  
  .contact a{
    z-index: 1;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
