.threecanvas {
  height: 100vh;
  width: 50rem ;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroText{
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  position: absolute;
  color: #363945;
  top: 40vh;
  font-size: 2.4rem;
  line-height: 1.4;
}

.strong{
  font-weight: 400;
  color: #a95144
}

@media (max-width: 500px) {
  .heroText{
    top: 30vh
  }
}