.projects {
    background-color: #363945;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .projects h2 {
    font-family: "Manrope", sans-serif;
    font-size: clamp(2.2rem, 5vw, 4rem);
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 75px;
    color: #89908c;
  
  }
  .projectVideo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 75px;
  } 
  .projectVideoReverse {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 75px;
  } 
  .videoBackground{
    background-color: #cf9535;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 0px;
    position: absolute;
  }
  
  .projects video {
    border-radius: 10px;
    width: 450px;
    margin: 20px;
    transition-duration: 0.4s;
  }
  
  .projects a {
    z-index: 1;
  }
  
  .projects video:hover {
    transform: scale(0.95);
  }
  .projectDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 360px;
  }
  .projects button {
    border-radius: 10px;
    padding: 0.7rem 1.1rem;
    background-color: #a95144;
    border: none;
    margin: 10px 15px;
    font-family: "Manrope", sans-serif;
    font-size: clamp(0.9rem, 1.6vw, 1.62rem);
    color: #f2ebe6;
    transition-duration: 0.4s;
    font-weight: 500;
  }
  .projectButtons {
    display: flex;
    
  }
  
  .techUsed{
    display: flex;
    align-items: center;
  }
  .techUsed svg {
    color: #f2ebe6;
    fill: #f2ebe6;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    margin: 10px;
    z-index: ;
  }
  .techUsed  i{
    color: #f2ebe6;
    fill: #f2ebe6;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    margin: 10px;
  }
  .projectButtons svg {
    border-radius: 10px;
    padding: 0.2rem .4rem;
    background-color: #a95144;
    border: none;
    margin: 10px 15px;
    font-family: "Manrope", sans-serif;
    font-size: clamp(2.7rem, 3.75vw, 4rem);
    color: #f2ebe6;
    transition-duration: 0.4s;
  }
  
  .projects button:hover {
    transform: scale(1.1);
    background-color: #f2ebe6;
    color: #a95144;
  }
  
  .projectButtons svg:hover {
    transform: scale(1.1);
    background-color: #f2ebe6;
    color: #a95144;
  }
  .projects h3 {
    font-family: "Manrope", sans-serif;
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    font-weight: 600;
    margin: 0px 15px;
    color: #cf9535;
  }
  .projects h4 {
    font-family: "Manrope", sans-serif;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    font-weight: 500;
    color: #f2ebe6;
    margin: 15px;
    line-height: 1.3;
  }
  .projectGallery {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    
  }
  
  
  @media (max-width: 850px) {
    .projectVideo{
      flex-direction: column;
    }
    .projectVideoReverse{
      flex-direction: column;
    }
    .videoBackground{
      height: 260px;
      margin-top: 10px;
    }
    .projects video {
      width: 380px;
      margin: 35px 0px;
    }
  }
